<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div id="app">
<input type="text" v-model="query">
<ul>
    <li
			v-for="(item, index) in books"
			v-bind:key="item"
			v-bind:data-index="index"
			>{{ item }}
		</li>
</ul>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
            query: "",
            books: [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman'
                    ],
      },
      watch: {
        query: function(){
            vm.books = vm.books.filter(function(item){
                return item.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1
            })
        }
      },
      methods: {
          
      }
    })
</script>   
</body>
</html>